@page
@model razorPageFinalProject.Pages.search.IndexModel
@{
}
<div class="container">
    <div class="row">
        <div class="col">
            <form>
                <div class="form-group">

                    <select class="custom-select">
                        <option selected>Search By:</option>
                        <option value="1">Players</option>
                        <option value="2">Teams</option>
                    </select>

                    <label for="search">Search</label>
                    <input type="text" class="form-control" id="search" aria-describedby="search" placeholder="">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>